<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IASPDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.10.180/ASPWebServices/ASPDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IASPDataService"
                contract="LRITDataService.IASPDataService" name="BasicHttpBinding_IASPDataService" />
        </client>
    </system.serviceModel>
</configuration>