<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogDirectoryPath" value="E:\Workshop_13\InmarsatC\log\"/>
    <add key="LogDebugMode" value="ON"/>
    <add key="LogLocalTimeMode" value="ON"/>
    <add key="LogPrefixFileName" value="InmarsatCForwarder_"/>
    <add key="LogMaxSizeKB" value="1000"/>

    <add key="KemiAppCommon_DBConnectionStringKey" value="INM_C_DBConnectionString"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>