<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IRIDIUM_GMDSS_LRIT_2024_DBConnectionString" connectionString="Data Source=RYAN-T15-3RD;Initial Catalog=IRIDIUM_GMDSS_LRIT;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ivats.kemilink.com/IridiumGmdssLritWcfService/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="IridiumGmdssLritWcfService.IService" name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>